.margin_zero_top
{
    margin-bottom: 0px;
}

.margin_zero_bottom
{
    margin-top: 0px;
}

.description
{
    font-size: 14px;
    margin-top: 5px;
    margin-left: 24px;
    margin-right: 24px;
    padding-right: 10px;
}