.footer
{
    background-color: var(--background_color2)!important;
}

.footer_position
{
    margin-left: 50px;
}


.footer_block_size
{
    justify-content: flex-end;
}


@media screen and (max-width: 960px) {
    .footer_block_size
    {
        justify-content: center;
    }

    .footer_social_aps
    {
        justify-content: center;
        margin-left: -50px;
    }
}